/* Google Font Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    
}
/* Banner section styled  */
.banner{
    background-color: #2D25A0;
    
}

.banner-head h1{
    font-size: 64px;
    color: #fff;
   
}
.banner-head{
    width: 485px;
    height: 230px;
    display: flex;
}
.banner-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    padding: 1em;
    margin-top: 100px;
}
.banner-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 79px;
    
}

.banner-image img{
    width: 428px;
    height: 350px;
    margin-top: 150px;
}

/* player section */
.players{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player{
    Width: 330px;
    Height: 474px;
    margin: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-description{
    padding: 1em;
}
.player-image img{
    Width: 300px;   
    Height: 256px;
}
.player-description p{
    font-size: 16px;
    color: #6C6C6C;

}
.player-name{
    font-size: 28px;
}
.all-player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
}

/* Highlights style here */

.highlight-text{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    padding: 0px;
    width: 469px;
    height: 309px;
}
.highlight-text h1{
    font-size: 48px;
    color: #0A0826;
}
.highlights-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 79px;
    margin-top: 70px;
}

.highlight-image img{
    width: 567px;
    height: 427px;
}

/* Jercy Section is Styled here  */
.jercy-text{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    padding: 0px;
    width: 469px;
    height: 309px;
}
.jercy-text h1{
    font-size: 48px;
    color: #0A0826;
}
.jercy-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 79px;
    margin-top: 70px;
}
.jercy-image{
    width: 500px;
    height: 427px;
}
.jercy-image img{
    width: 100%;
    height: 100%;
}
/* Common Button Design start  */
.watch-button{
    border: none;
    width: 173px;
    height: 44px;
    margin-top: 20px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.button{
    margin-top: 70px;
}
/* Common Button Design Ended  */
/* Footer Design  */
.icon img{
    width: 483.87px;
    height: 110px;
}
.icon-style{
    margin: 10px;
    color: #6C6C6C;
}
.copyright p{
    color: #6C6C6C;
    margin-bottom: 20px;
}
.footer{
    flex-direction: column;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}
/* Footer Design Ended  */

/* Small Animation  */
.banner:hover,.player:hover{
    transform: scale(1.07);
}
.player,.banner{
    transition: transform 1.5s ease;
}


/* Responsive ness for Mobile  */

@media only screen and (max-width: 688px) {
    .banner-description,.players,
    .highlight-text,.jercy-details
    {
        width: 100%;
        height: 100%;
    }
    .banner-details,.all-player,.highlights-details,.jercy-details
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .highlight-text{
        flex-wrap: wrap;
    }
    .banner{
        width: fit-content;
        height: fit-content;
    }
    .highlight-image img{
        width: 100%;
    }
}